header{
    text-align: center;
    font-size: 40px   ;
    font-style: bold;
}
body{
    margin: 30px;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}
nav{
    width: 100%;
    overflow: hidden;
    border: solid black;
    position: sticky;
    top: 0px;
    background-color: gray;
    
}
nav a{
    text-decoration: none;
    float: left;
    padding: 7px;
    width: 19%;
    text-align: center;
    font-size: 18.5px;
}
h1{
    text-align: center;
}
a{
    color: white;
}
a:link {
    background-color: lightgrey;
    text-decoration: none;
    padding: 1px;
}
a:visited {
    background-color:darkgrey;
}
a:hover {
    background-color:
    black;
}
a:active {
    background-color:
    white;
    }
.img1{
    float: left;
    border: 2px solid black;
    margin-right: 10px;
}
.para1,.para2 .para3 .para4{
    overflow: auto;
    padding-bottom: 30px;
}
.img2{
    float: right;
    border: 2px solid black;
    margin-left: 10px;
}
.img3{
    float: left;
    border: 2px solid black;
    margin-right: 10px;
}
.img4{
    float:right;
    border:2px solid black;
    margin-right: 10px;
    margin-left: 10px;
}
.para2{
    display: flex;
    align-items: center;
    font-size: larger;
}
.img5{
    border: 2px solid black;
}
.para3{
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: x-large;
}
footer{
    text-align: center;
    padding: 20px;
    background-color: gray;
    color: white;
    min-height: 1svh;
    margin-top: 30px;
}
.header{
    display: flex;
}
.logo{
    text-align: center;
    width: 300px;
    height:auto;
}
.para4{
    font-size: x-large;
}
.img6{
    border: 2px solid black;  
    width: 650px;
    height: auto;  
    margin-left: 20px;
}
.img7{
    border: 2px solid black; 
    width: 650px;
    height: auto;  
    margin-left: 20px;
}
.para1{
    font-size: x-large;
}
footer {
    text-align: center;
    padding: 20px 20px;
}

span{
    align-content: center;
}
.social-icons{
    display: inline-block;
    margin-left: 150px;
}
.social-icons a {
    display: inline-block;
    background-repeat: no-repeat;
    transition: filter 0.3s ease;
    text-align: center;
}

.instagram {
    background: url('../images/instagram.png') no-repeat -117px -62px;
    width: 51px;
    height: 51px;
}

.facebook {
    background: url('../images/facebook.png') no-repeat -60px -62px;
    width: 51px;
    height: 51px;
}

.social-icons a:hover {
    filter: grayscale(100%);
}
footer {
    background-color: #333;
    color: #fff;
}
.socials{
    display: inline;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-right: 10px;
}
h2{
    color: rgb(205, 233, 255);
}
.socials ul li{
    list-style-type: none;
}
